Repository Luminous-Dynamics/luminous-nix: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-mocks, test-structure

no-mocks:
  name: Check for mock usage
  entry: scripts/check-no-mocks.sh
  language: script
  pass_filenames: false
  description: Prevents mock usage in tests - use consciousness-first testing instead

test-structure:
  name: Check test structure
  entry: bash -c 'for f in tests/unit/test_*.py; do if ! grep -q "from tests.test_utils import" "$f" 2>/dev/null; then echo "$f missing test_utils import"; fi; done'
  language: system
  description: Tests should use consciousness-first test utilities

chore: update git cleanup tracking
  GIT_CLEANUP_NEEDED.md
Due: none

chore: reorganize project structure - move files to appropriate directories
  docs/status/AI_ECOSYSTEM_INTEGRATION_COMPLETE.md
  docs/status/CLI_ADAPTER_COVERAGE_REPORT.md
  docs/status/CLI_ADAPTER_IMPROVEMENTS_COMPLETE.md
  docs/status/COMMAND_CONSOLIDATION_COMPLETE.md
  docs/status/COMPREHENSIVE_ASSESSMENT_REPORT.md
  docs/status/DOCUMENTATION_MIGRATION_COMPLETE.md
  docs/status/HEADLESS_CORE_COMPLETE.md
  docs/status/LEARNING_SYSTEM_COVERAGE_REPORT.md
  docs/status/MOCK_USAGE_REPORT.md
  docs/status/PERFORMANCE_AND_LEARNING_REPORT.md
  docs/status/PLUGIN_ARCHITECTURE_COMPLETE.md
  docs/status/POETRY2NIX_MIGRATION_COMPLETE.md
  docs/status/SYMBIOTIC_BUILD_COMPLETE.md
  docs/status/VOICE_INTERFACE_COMPLETE.md
  examples/demo_native_performance.py
  scripts/dev-poetry.sh
  scripts/dev-python.sh
  scripts/dev-tauri.sh
  scripts/dev.sh
  scripts/fix-dependencies.sh
  scripts/quick-import-fix.sh
  scripts/quick-test-fix.sh
  scripts/run_e2e_tests.sh
  scripts/run_performance_tests.sh
  scripts/test-ai-licensing.sh
  scripts/test-poetry-env.sh
  tests/test_core.py
  tests/test_headless_architecture.py
  tests/test_learning_coverage.py
  tests/test_native_backend.py
  tests/test_nix_integration_simple.py
  tests/test_symbiotic.py
  tests/test_tui_structure.py
Due: no-mocks

release: v1.0.0 - Natural language NixOS interface
  CHANGELOG.md
  README.md
  VERSION
Due: none

docs: add cleanup summary for v1.0.0 release
  release/v1.0.0/CLEANUP_SUMMARY.md
Due: none

docs: add release announcement and GitHub template for v1.0.0
  release/v1.0.0/ANNOUNCEMENT.md
  release/v1.0.0/GITHUB_RELEASE_TEMPLATE.md
Due: none

docs: add final release checklist - v1.0.0 ready to ship! 🚀
  release/v1.0.0/FINAL_RELEASE_CHECKLIST.md
Due: none

feat: v1.1.0 - TUI and Voice interfaces
  .gitconfig
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/responses/common-responses.md
  CHANGELOG_v1.1_preview.md
  README.md
  SACRED_TRINITY_SUCCESS.md
  VERSION
  create-release-branch.sh
  docs/CONTRIBUTING.md
  docs/IMPLEMENTATION_ROADMAP.md
  docs/README.md
  docs/SYSTEM_ARCHITECTURE.md
  docs/V1_REALITY_CHECK.md
  docs/misc/CLAUDE.md
  docs/roadmap/v1.0.1-quick-fixes.md
  docs/roadmap/v1.1_PLAN.md
  fix-github-author.sh
  nixos_knowledge.db
  push-release.sh
  pyproject.toml
  release/v1.0.0/POST_PUSH_CHECKLIST.md
  release/v1.0.0/announcements/demo_video_script.md
  release/v1.0.0/announcements/nixos_discourse_post.md
  release/v1.1/ACTIVATION_SUMMARY.md
  release/v1.1/ANNOUNCEMENT.md
  scripts/activate-v1.1-features.py
  scripts/enable-tui-v1.1.py
  share-v1.0.0.md
  tests/test_v1_1_features.py
Due: no-mocks

docs: improve GitHub repository presentation
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

fix: natural language pattern recognition for 'i need' and 'get me' phrases
  .pre-commit-config.yaml
  .secrets.baseline
  CHANGELOG.md
  PATTERN-FIX-COMPLETE.md
  RELEASE-SUCCESS.md
  TEST-RESULTS-BEFORE-PROMOTION.md
  src/nix_for_humanity/knowledge/engine.py
Due: none

fix: resolve all remaining pre-commit hook issues
  .github/workflows/performance-regression.yml
  .github/workflows/performance-test.yml
  .pre-commit-config.yaml
  PRE-COMMIT-FIXES-COMPLETE.md
  demo-nix-humanity.sh
  scripts/create-demo-nixos.sh
  scripts/dev.sh
  scripts/run_performance_tests.sh
  scripts/test/test-enhanced-tool.sh
Due: none

feat: enhance pre-commit hooks with advanced features
  .gitlint
  .pre-commit-config-quick.yaml
  .pre-commit-config.yaml
  scripts/hooks.sh
Due: none

fix: pattern recognition and test improvements for v1.0.1
  RELEASE-v1.0.1.md
  SESSION_SUMMARY.md
  TEST_IMPROVEMENT_REPORT.md
  VERSION
  fix_class_imports.py
  fix_import_paths.py
  fix_mock_imports.py
  pyproject.toml
  tests/integration/test_cli_interface.py
  tests/integration/test_cli_pattern_fix.py
  tests/unit/test_cli_adapter.py
  tests/unit/test_pattern_fix.py
  tests/unit/test_personality_system.py
  tests/unit/test_personality_system_enhanced.py
Due: no-mocks, test-structure

docs: add git cleanup strategy and scripts
  .gitignore
  ARCHIVE_STRATEGY.md
  cleanup-git-history.sh
Due: none

🧹 Document git repository cleanup
  ARCHIVE_STRATEGY.md
Due: none

🎯 Create single source of truth for project status
  PHASE_3_IMPLEMENTATION_PLAN.md
  PROJECT_STATUS.yaml
  VERSION
  docs/01-VISION/02-ROADMAP.md
  docs/04-OPERATIONS/CURRENT_STATUS_DASHBOARD.md
  scripts/check-doc-consistency-simple.sh
  scripts/check-doc-consistency.py
Due: none

🌟 Update README with consciousness-first philosophy and Sacred Trinity model
  README.md
  THE_GREAT_CONSOLIDATION_SUMMARY.md
  WEEK_1_TESTING_SPRINT.md
  archive-temp-docs.sh
  docs/02-ARCHITECTURE/13-GENERATIVE-SYSTEMS-ARCHITECTURE.md
  docs/02-ARCHITECTURE/14-COGNITIVE-INTERFACE-ARCHITECTURE.md
  docs/02-ARCHITECTURE/15-MULTIMODAL-INTERACTION-ARCHITECTURE.md
  docs/03-DEVELOPMENT/LOCAL_AI_INTEGRATION.md
  docs/Temp/Blueprint for Generative Systems.md
  docs/Temp/Designing Luminous Nix Interfaces.md
  docs/Temp/Evolving AI for Collective Wisdom.md
  poetry.lock
  pyproject.toml
  pytest.ini
  scripts/ai_dev_assistant.py
  src/luminous_nix/core/executor.py
  src/luminous_nix/self_healing/friction_monitor.py
  tests/security/test_enhanced_validator.py
  tests/test_native_backend.py
  tests/unit/test_input_validator.py
  tests/unit/test_nix_api_server.py
  tests/unit/test_nix_api_server_simple.py
  tests/unit/test_safe_executor.py
Due: no-mocks, test-structure

🧪 Week 1 Testing Sprint Day 1 Complete
  WEEK_1_TESTING_SPRINT.md
  poetry.lock
  pyproject.toml
  src/nix_for_humanity/__init__.py
  tests/conftest.py
Due: no-mocks

test: Add 9 working tests for LuminousNixBackend
  src/nix_humanity/core/engine.py
  tests/unit/test_engine_comprehensive.py
  tests/unit/test_engine_fixed.py
  tests/unit/test_engine_real.py
Due: no-mocks, test-structure

Path conditions:
  no-mocks: any of: ^tests/.*\.py$, but not: (?x)^(
  .*\.egg-info/|
  \.eggs/|
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.tox/|
  __pycache__/|
  build/|
  dist/|
  node_modules/|
  venv/|
  \.coverage|
  htmlcov/|
  docs/_build/|
  .*\.pyc|
  .*\.pyo
)

  test-structure: any of: ^tests/unit/test_.*\.py$, but not: (?x)^(
  .*\.egg-info/|
  \.eggs/|
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.tox/|
  __pycache__/|
  build/|
  dist/|
  node_modules/|
  venv/|
  \.coverage|
  htmlcov/|
  docs/_build/|
  .*\.pyc|
  .*\.pyo
)

